.channel .row #border .card-body .btn-floating.btn-lg {
    background: #ffc809;
    color: #fff;
    margin-right:.5rem;
  }

  .channel .row #border .card-body img {
    width: 50%;
    float: left;
  }

  .channel .row #border .card-body {
    text-align: center;
  }

  .channel .row #border .card.shadow.mb-4 {
    border-right: 3px solid #fce391 !important;
    min-height: 340px;
    border: 0;

  }

  .channel .row #border #denny {
    background: #e5e5e5;
    width: 60%;
  }

 .channel .row  #border .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between {
    background: #fff;
  }

  .channel .row #border #content-wrapper {
    background: #fff !important;
  }

  .channel .row #border .card.shadow.mb-4 {
    box-shadow: none !important;
  }

  .channel .row #border .bg-gradient-primary {
    background-color: #ffc809 !important;
    background-image: none;
  }

  .channel .row #border .d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm {
    width: 30%;
    font-size: 20px;
    border-radius: 30px;
  }

  .channel .m-0.font-weight-bold.text-primary {
    color: #000 !important;
    margin-bottom: 20px !important;
  }

  .channel .row #border .nav-item a {
    color: #fff !important;
  }

  .fas.fa-fw.fa-tachometer-alt {
    color: #fff !important;
  }

  .channel .row #border .btn.btn-primary {
    background: #ffc809;
    border: none;
  }

.channel .row #border #accept {
    width: 60%;
  }

  .channel .row #border .d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm {
    width: 70%;
    font-size: 15px;
  }