.new-campaign .bottom-spacer {
    margin-bottom: '5rem'
}
.new-campaign .bac-image {
    background-image: url('/img/fQ3sE2ESryyBsVqTCOmHLOXeAAFvY6F2llcYtQEc.png');
    background-size: cover;
    min-height: 240px;
    background-position: bottom
}
.new-campaign .next-button {
    border: 0;
    font-size: .8rem;
    border-radius: 10rem;
    padding: .5rem 0rem;
    margin: 10px;
    width: 10rem;
}
.new-campaign .background-box {
    background: #252c34;
    padding: 20px;
    box-sizing: border-box;
    font-style: oblique;
}

.new-campaign .need-product {
    color: rgb(133, 135, 150);
}

.new-campaign .call-for-action {
    margin: 10px 0px 4px 21px;
    font-style: oblique;

    display: inline-block;
    margin-bottom: .5rem;
    box-sizing: border-box
}
.new-campaign .simple-sentence-input {
    font-size: .8rem;
    padding: 1.5rem 1rem;
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.new-campaign .choose-file-form {
    margin-bottom: 1rem;

    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;

    box-sizing: border-box
}
.new-campaign .choose-file-div {
    margin-top: 30px;
    margin-bottom: 0!important
}
.new-campaign .choose-file-button {
    padding: 5px !important;
    font-size: .8rem;
    border: transparent
}
.new-campaign .select-button {
    float: left;
    background: #435a6b;
    content: select all;
    cursor: pointer;
    width: 150px;
    height: 45px;
    margin: 0 7px;
    padding: 5px 0;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #fff;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    outline: 0
}
.new-campaign .check-mark {
    float: right;
    background: #aaa;
    height: 45px;
    width: 45px;
    margin: 0 7px;
    padding: 5px 0;
    font-size: 15px;
    letter-spacing: 2px;
    color: #fff;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    outline: 0;
    transition: 0.3s linear

}
.new-campaign .ul {
    margin-top: 0;
    margin-bottom: 1rem
}
.new-campaign .li {
    position: relative;
    margin: 10px;
    width: 157px;
    height: 157px;
    float: left;
    list-style: none;
    box-sizing: border-box
}
.new-campaign .first-form {
    font-size: .8rem;
    padding: 1.5rem 1rem
}
.new-campaign .first-form-labels {
    margin: 10px 0px 4px 21px;
    font-style: oblique;

    display: inline-block
}

.new-campaign .custom-postfix input{
    border-radius: 2rem 0 0 2rem;
    border-right: none;
}
.new-campaign .custom-postfix button{
    border-radius: 0 2rem 2rem 0;
}