.add-brand .text-center h2,form{
    color:rgb(133, 135, 150);
}
.add-brand .loading-overlay {
   
    position: absolute;
    /* top: 0; */
    /* /* bottom: 0;    */
     width: 100%; 
    height: 200vh;
  
    background-color: rgba(0, 0, 0, 0.3);

    z-index: 1;
}

.add-brand  .form-control{
    font-size: .8rem;
    padding: 1.5rem 1rem;
}
.add-brand .form-group label strong {
    margin: 1px 0px 4px 21px;
}
.add-brand .form-group form.user .btn-user {
    font-size: .8rem;
    padding: .75rem 1rem;
}
.add-brand  .btn-primary {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}