.login .btn-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
    background-color:rgb(78, 115, 223);
}

.loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.login .bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
    background-size: cover;
    height: 100vh;
}

.login .btn-google {
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
}

.login .btn-facebook {
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
    color: #fff;
    background-color: #30497c;
    border-color: #fff;
}

.login .btn-linkedin {
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
    color: #fff;
    background-color: #0073b1;
    border-color: #fff;
}

.login input {
    font-size: .8rem;
}

.login .social-icon {
    width: 1em;
    margin-right: 7px;
    color:white;
}

.login .remember-me {
    line-height: 1.5rem;
}

/* Since our bootstrap have customized primary color so we needed to override those styles */
.login .remember-me .custom-control-input:checked~.custom-control-label::before {
    color: #fff !important;
    border-color: #007bff !important;
    background-color: #007bff !important;
}

.login .remember-me .custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.login .form-error {
    font-size: 10px;
}
/*------------------------------------------------------------------------------------------*/