body {
  margin: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  
  background-color: #fff;
}

#root {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input,
textarea,
.form-control,
.custom-select, .custom-file-label {
  border-radius: 2rem;
  overflow: hidden;
}

.rounded-5 {
  border-radius: 5px;
}

.rounded-20 {
  border-radius: 20px;
}

.rounded-30 {
  border-radius: 30px;
}

.border-5 {
  border: 5px solid;
}

.border-yellow {
  border-color: #fce391;
}

.card.shadow.mb-4 {
  box-shadow: none !important;
}

.no-shadow {
  box-shadow: none !important;
}

.green {
  background: #1cc88a !important;
  color: white;
}
.blue {
  background: #36b9cc;
  color: white;
}

.grey {
  background-color: #f7f7f7;
}

.text-grey {
  color: #858796
}

.dark-blue {
  background: #4e73df;
  color: white;
}

.text-dark-blue {
  color: #4e73df;
}

.no-focus-effects {
  box-shadow: none !important;
  border: none !important;
}