.add-channel form{
    color:rgb(133, 135, 150);
}
.add-channel .m-0.font-weight-bold.text-primary {
    color: #000 !important;
    margin-bottom: 20px !important;
}
.add-channel .loading-overlay {
   
    position: absolute;
    /* top: 0; */
    /* /* bottom: 0;    */
     width: 100%; 
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.3);

    z-index: 1;
}

.add-channel  .form-control{
    font-size: .8rem;
    padding: 1.5rem 1rem;
}
.add-channel form.user label{
    display: inline-block;
    /*margin-bottom: .5rem;*/
    margin-top: .5rem;
}

.add-channel form.user .btn.btn-primary.btn-user.btn-block {
    width: 30%;
    margin-top: 20px;
    margin-left:20px;
    color:white;
    font-size: .8rem;
    padding: .75rem 1rem;
}

.add-channel .channel-logo .custom-file-label {
    height: 50px;
}

.add-channel .channel-logo .custom-file-label::after {
    height: 100%;
    display: flex;
    align-items: center;
}

.add-channel .pad-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.add-channel .package-container {
    overflow: hidden;
}

.add-channel .border-top-left {
    border-top-left-radius: .2rem!important;
}

.add-channel .border-top-right {
    border-top-right-radius: .2rem!important;
}

.add-channel .border-bottom-right {
    border-bottom-right-radius: .2rem!important;
}

.add-channel .border-bottom-left {
    border-bottom-left-radius: .2rem!important;
}


.add-channel .package {
    flex: 1;
}

.add-channel .package-header {
    min-height: 75px;
    background-color: #f9f9f9;
    /* border: solid 1px #e0e0e0; */
    font-size: 21px;
}