.layout  #wrapper nav .topbar {
    
    height: 4.375rem;
  }
  @media (min-width: 768px) {
      .sidebar {
    width: 14rem!important;
}
  }
.layout #wrapper nav .topbar .topbar-divider {
    width: 100% !important;
    border-right: 0 !important;
    height: auto !important;
    margin: auto 1rem;
    text-align: right;
}
.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow a {
    padding: 20px;
    font-weight: bold;
}
/*
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}*/
  /*.nav-item.dropdown.no-arrow.mx-1 {
    display: none;
  }

  @media only screen and (max-width: 600px) {

    #accordionSidebar .nav-link {
      text-align: left !important;
    }

    #right {
      padding-left: 17px !important;
    }
  }

  .navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow a {
    padding: 20px;
    font-weight: bold;
  }

  .nav-item a {
    padding-top: 0px !important;
    padding-bottom: 10px !important;
  }

  .input-group {
    display: none !important;
  }

  #right {
    padding-left: 43px;
  }*/